= simple_form_for @credit_card, url: url, html: { class: 'form-horizontal', id: 'braintree-credit-card-form' } do |f|
  = f.input(:number, input_html: { 'data-encrypted-name' => true }) if @credit_card.new_record?
  = f.input :cardholder_name
  = f.input(:cvv, maxlength: 4, input_html: {'data-encrypted-name' => true }) if @credit_card.new_record?
  = f.input :expiration_month, options_for_month_select
  = f.input :expiration_year, options_for_year_select
  = f.simple_fields_for :billing_address, @credit_card.billing_address do |ba|
    = ba.input :first_name
    = ba.input :last_name
    = ba.input :company
    = ba.input :street_address
    = ba.input :extended_address
    = ba.input :locality
    = ba.input :country_code_alpha2, options_for_country_select
    = ba.input :region, options_for_region_select
    = ba.input :postal_code
  .form-actions
    = f.button :submit, class: 'btn-primary'
    = link_to 'Cancel', user_customer_credit_cards_path(@user), class: 'btn'

- content_for :javascript do
  :javascript
    var braintree = Braintree.create("#{BraintreeRails::Configuration.client_side_encryption_key}")
    braintree.onSubmitEncryptForm('braintree-credit-card-form');
    BraintreeData.setup("#{BraintreeRails::Configuration.merchant_id}", "braintree-credit-card-form", BraintreeData.environments.sandbox)
    BraintreeData.setup("#{BraintreeRails::Configuration.merchant_id}", "braintree-transaction-form", BraintreeData.environments.sandbox)
