= simple_form_for @customer, url: user_customer_path(@user), html: { class: 'form-horizontal' } do |f|
  - [:first_name, :last_name, :email, :company, :website, :phone, :fax].each do |attribute|
    = f.input attribute
  .form-actions
    = f.button :submit, class: 'btn-primary'
    = link_to 'Cancel', user_path(@user), class: 'btn'

- content_for :javascript do
  :javascript
    BraintreeData.setup("#{BraintreeRails::Configuration.merchant_id}", "braintree-transaction-form", BraintreeData.environments.sandbox)
