- model_class = BraintreeRails::Customer
.page-header
  %h1=t '.title', default: model_class.model_name.human
- [:first_name, :last_name, :email, :company, :website, :phone, :fax].each do |attribute|
  %p
    %strong= model_class.human_attribute_name(attribute) + ':'
    %br
    = @customer.send(attribute)

.form-actions
  = link_to 'Back', users_path, class: 'btn'
  = link_to 'Edit', edit_user_customer_path(@user), class: 'btn'
  = link_to 'Transactions', user_customer_transactions_path(@user), class: 'btn'
  = link_to 'Credit cards', user_customer_credit_cards_path(@user), class: 'btn'
  = link_to 'Addresses', user_customer_addresses_path(@user), class: 'btn'
  = link_to 'Destroy', user_customer_path(@user), method: "delete", data: {confirm: 'Are you sure?'}, class: 'btn btn-danger'
