- model_class = BraintreeRails::Transaction
.page-header
  %h1=t '.title', default: model_class.model_name.human
- [:id, :amount, :status].each do |attribute|
  %p
    %strong= model_class.human_attribute_name(attribute) + ':'
    %br
    = @transaction.send(attribute)
%p
  %strong= model_class.human_attribute_name(:credit_card) + ':'
  %br
  = @transaction.credit_card.masked_number
%p
  %strong= model_class.human_attribute_name(:customer) + ':'
  %br
  = @transaction.customer.full_name

.form-actions
  = link_to 'Back', transactions_path, class: 'btn'
